pyerfa
Pygments
pymc3
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
rich
scikit-learn
scipy
seaborn
six
stack-data
tensorflow
tensorflow_datasets
tensorstore
threadpoolctl
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
wcwidth
widgetsnbextension
wrapt
xarray
xarray-einstats